@charset "UTF-8";

body {
	margin: 20px;
	padding: 20px;
	display: flex;
	background-color: skyblue;
	align-items: center;
	justify-content: center;
}

.info {
	margin: 20px;
	padding: 10px;
	display: flex;
	background-color: cyan;
	align-items: center;
	justify-content: center;
}

h3 {
		padding: 10px;
	
}

.display {
	margin: 120px;
	padding: 10px;
	display: flex;
	background-color: cyan;
	align-items: center;
	justify-content: center;
}
