@charset "UTF-8";

body {
	background-color: skyblue;
}

.info {
	align-items: center;
	justify-content: center;
	padding: 15px;
	border-style: outset;
	font-size: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	background-color: cyan;
	border-style: outset;
	line-height: 2;
	letter-spacing: 3px;
	word-spacing: 3px;
}

.head {
	margin-top: 40px;
	margin-left: 50px;
}

.display {
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 15px;
	line-height: 2;
	letter-spacing: 3px;
	word-spacing: 3px;
	border-style: outset;
	font-size: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	background-color: cyan;
}

.links {
	align-items: center;
	justify-content: center;
	text-align: center;
	border-style: bottom;
	padding: 10px;
	font-size: 20px;
	margin-left: 60px;
}

h2 {
	color: darkblue;
	margin-top: 100px;
	margin-left: 50px;
}

.update {
	text-align: center;
	align-items: center;
	justify-content: center;
	border-style: outset;
	font-size: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	background-color: cyan;
}

.btn {
	
	color: darkblue;
	border-color: black;
	border: solid;
}

.btn:hover {
	
	border-style: solid;
	color: white;
}

th {
	align-items: center !important;
	justify-content: center !important;
	border-spacing: 1px !important;
	border-bottom: 2px solid black !important;
	border-left: 2px solid black !important;
	border-right: 2px solid black !important;
	border-top: 2px solid black !important;
	text-align: center;
}

tr {
	align-items: center;
	justify-content: center;
	text-align: center;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

td {
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

.header {
	align-items: center;
	justify-content: center;
	text-align: center;
	
}