@charset "UTF-8";

body {
	background-color: skyblue;
}

.info {
	font-size: 20px;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	background-color: cyan;
	justify-content: inline-block;
}

.head {
	display: flex;
	justify-content: inline-block;
}

.display {
	font-size: 20px;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	background-color: cyan;
	justify-content: inline-block;
	font-size: 16px;
}

.links {
	font-size: 20px;
	margin-left: 80px;
}

h3 {
	margin-left: 50px;
}


.update {
	font-size: 20px;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	background-color: cyan;
	justify-content: inline-block;
	font-size: 16px;
	}